<div class="row dropdown-tvshows">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Pick a TV Show<span
                    class="caret"></span>
            </button>
            <span class="dropdown-arrow"></span>
            <ul class="dropdown-menu" style="width: 100%;">
                <li style="width: 100%;" ng-class="{'selected': element==currentTVShow}"><a href=""
                                                                                            ng-click="chooseTVShow('All')">All</a>
                </li>
                <li style="width: 100%;" ng-class="{'selected': element==currentTVShow}"
                    ng-repeat="element in tvShowsNames | orderBy: 'toString()'"><a href=""
                                                                                   ng-click="chooseTVShow(element)">{{ element }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row charts-container">
    <div class="col-xs-2">
        <div class="share mrl">
            <button style="margin: 20px;" class="btn btn-primary" ng-class="{activated: !(currentChart == 'updateSevenDaysTweets')}" ng-click="switchChart('')">7 Days</button>
            <div class="dropdown" style="left: 20px;bottom: 10px;">
                <button class="btn btn-primary dropdown-toggle" ng-class="{activated: !(currentChart == 'dayChart')}" data-toggle="dropdown">24 Hours<span
                        class="caret"></span>
                </button>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu" style="width: 100%;">
                    <li style="width: 100%;" ng-class="{'selected': element==currentTVShow}"
                        ng-repeat="element in getLastdaysLabels()"><a href="" ng-click="switchChart(element)">{{ element }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /share -->
    <div class="col-xs-10">
        <div class="chart"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        <div class="todo">
            <div class="todo-search">Last tweets</div>
            <ul>
                <li ng-repeat="tv in tvShowsLast | orderBy: '-tv.created_at'">
                    <div class="todo-icon fui-chat"></div>
                    <div class="todo-content">
                        <h4 class="todo-name">@{{ tv.name }}</h4>
                        {{ tv.text }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-7"></div>
</div>


<div class="last-tweets row">

</div>

<footer>
    <div class="container">
        <div class="col-xs-7">
            <h3 class="footer-title">Game Of Tweets</h3>

            <p><em>Advanced Databases - Students School Project @ ISEP</em></p>

            <p>This application is brought to you by:</p>
            <ul>
                <li>Valentine Croas</li>
                <li>Marianne Koehl</li>
                <li>Audrey Rolland</li>
                <li>Victor Delépine</li>
            </ul>
        </div>
    </div>
</footer>